# >>> Application <<<
SECRET_KEY=secret_key
PUBLIC_KEY=public_key
DEBUG=True
ALLOWED_HOSTS=0.0.0.0,127.0.0.1,localhost
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=1234
DJANGO_SUPERUSER_EMAIL=testuser@example.com
LANGUAGE_CODE=ru-RU

# >>> Postgres <<<
POSTGRESQL_HOST=rewards-postgres
POSTGRESQL_PORT=5432
POSTGRESQL_EXT_PORT=5434
POSTGRES_DB=rewards-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres