# >>> Application <<<
SECRET_KEY=secret_key
DEBUG=True
ALLOWED_HOSTS=0.0.0.0,127.0.0.1,localhost,rewards
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=1234
DJANGO_SUPERUSER_EMAIL=testuser@example.com
LANGUAGE_CODE=ru-RU

# >>> Postgres <<<
POSTGRESQL_HOST=rewards-postgres
POSTGRESQL_PORT=5432
POSTGRESQL_EXT_PORT=5434
POSTGRES_DB=rewards-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# >>> Redis <<<
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=redis
REDIS_EXT_PORT=6379
REDIS_EXT_CLUSTER_PORT=8001

# >>> Celery <<<
CELERY_VISIBILITY_TIMEOUT=3600
CELERY_ACCEPT_CONTENT=application/json
CELERY_TASK_SERIALIZER=json
CELERY_RESULT_SERIALIZER=json